<div class="name">
  <p>Melany</p>
  <p>Markaryan</p>
</div>
<div class="navigation">
  <a class="navigation-link" href="/">
    <p class="navigation-text">Home</p>
  </a>
  <a class="navigation-link" href="/projects">
    <p class="navigation-text">Projects</p>
  </a>
  <a class="navigation-link" href="/about">
    <p class="navigation-text">About</p>
  </a>
  </li>
</div>

<div class="icons">
  {{> icons}}
</div>