<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/styles/dist/about.css">
</head>

<body>
  <div class="main">
    <div class="left-sidebar top-sidebar">
      {{> leftSideBar}}
    </div>


    <div class='middle'>
      <div class='info-section'>
        <div class='photo-container'>
          <img src="/assets/about.jpg" alt="about-photo" class='photo'>
        </div>
        <p class='text'>
          When a camera is in my hand I feel compelled to tell stories about the relationship of the body with itself
          and
          other bodies. I am able to stop time, compress a moment and invite the viewer to luxuriate in details both
          crisp
          and blurry, to experience elemental emotions like tension and serenity. On the surface, I am drawn to textural
          details of the photograph such as skin, fabric, and foliage. Beneath the surface, I aim to explore something
          innately human- the frothy stuff inside each of us, what is only and truly known to ourselves. but that
          continually projects outwards.
          When I’m preparing for a shoot, I find myself circling around an emotion. I envision a location that feels
          appropriate and I ask my friends to model and collaborate in my vision. My camera becomes a tool for exploring
          narratives of the ‘feeling-tone-vision.’ The narratives are both my own and what my model brings to the
          photoshoot; I have a loose idea of what I want to portray but remain open to what the sitter brings to my
          stage/set. Occasionally I use certain props - like a mirror, tree branches, or a drinking glass- to support
          the
          narrative. For example, in my photograph “Look At Me / Jealousy,” the woman in the background making eye
          contact
          has a firm grip of control on the woman in the foreground, holding the branch. The branch becomes a symbol of
          ominous tension between the two characters. In my digital collage “Rooted (Softness)” or “ Rooted in
          Softness,”
          I
          use the textural elements of branches moving in the wind, loose braids, loose clothing, and skin to evoke a
          feeling of serenity.
          The gesture of the human body is the most important part of the photograph. I oscillate between pictures that
          communicate both tension and serenity. The location, the model, the props and my camera allow me to capture
          these
          innate emotions. These emotions flow first through my thoughts, then through another body or landscape, then
          finally through the lens before I can offer these moments of serenity and tension to the viewer.
        </p>
      </div>
    </div>
  </div>

  <!-- SCRIPTS -->
  {{> commonScripts}}
</body>

</html>