<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 450px)"
    href="/styles/dist/project-desktop.css" />
  <link rel="stylesheet" type="text/css" media="screen and (max-width: 445px)" href="/styles/dist/project-mobile.css" />
</head>

<body>
  <!-- CONTENT -->

  <div class="main">
    <div class="left-sidebar top-sidebar">
      {{> leftSideBar}}
    </div>

    <div id='images' class="middle">

      {{#if data}}
      {{#each data}}
      <div class="image-container">
        {{#if this}}
        <img class='display-image' src="{{this}}" alt="{{this}}">
        {{/if}}
      </div>
      {{/each}}
      {{/if}}

    </div>

    <div id="myModal" class="modal">
      <img class="modal-content" id="img01">
    </div>
  </div>

  <!-- SCRIPTS -->
  {{> commonScripts}}
  <script src="/scripts/project.js"></script>
  <script> // Filter images that don't appear
    const images = $('.display-image');
    if (images) {
      images.each(index => {
        console.log(images[index]);
        images[index].onerror = function () {
          console.log('Error');
          const imageNotShown = $(images[index]);
          imageNotShown.css({ 'display': 'none' });
        }
      });
    }
  </script>

</body>

</html>