<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 450px)"
    href="/styles/dist/projects-desktop.css" />
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 300px) and (max-width: 445px)"
    href="/styles/dist/projects-mobile.css" />
</head>

<body>
  <!-- CONTENT -->

  <div class="main">
    <div class="left-sidebar top-sidebar">
      {{> leftSideBar}}
    </div>

    <div class="middle">
      <div class='project-container'>
        <a href="/projects/B&#38W">
          <img class='project-image' src="/assets/compressed-quality/project-facade/b&w.jpg" alt="black&white">
        </a>
        <p>B&W</p>
      </div>

      <div class='project-container'>
        <a href="/projects/FOREST">
          <img class='project-image' src="/assets/compressed-quality/project-facade/forest.jpg" alt="forest">
        </a>
        <p>FOREST</p>
      </div>

      <div class='project-container'>
        <a href="/projects/RESISTANCE">
          <img class='project-image' src="/assets/compressed-quality/project-facade/resistance.jpg" alt="res">
        </a>
        <p>RESISTANCE</p>
      </div>

      <div class='project-container'>
        <a href="/projects/UNTITLED">
          <img class='project-image' src="/assets/compressed-quality/project-facade/untitled.jpg" alt="untitled">
        </a>
        <p>UNTITLED</p>
      </div>
    </div>
  </div>

</body>

</html>