$font-stack: "Syne",
sans-serif;

@media only screen and (max-width: 445px) {

  p,
  body {
    margin: 0;
    font-family: $font-stack;
    background-color: #e3e3e3;
  }

  a:link,
  a:visited {
    text-decoration: none;
    color: black;
  }

  .main {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2%;
    height: 95%;
    // overflow: scroll;

    .top-sidebar {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: auto;

      .icons {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        flex: 0 0 15%;

        .contact-icon {
          width: 30px;
          margin: 2px 0px;
        }
      }

      .name {
        font-family: $font-stack;
        flex: 0 0 40%;
        font-size: 30px;
      }

      .navigation {
        margin-left: 25px;
        display: flex;
        flex-flow: column nowrap;
        flex: 0 0 auto;

        .navigation-link:active {
          background-color: grey;
          cursor: pointer;
        }

        .navigation-text {
          font-size: 20px;
          background-color: transparent;
        }
      }
    }

    .middle {
      margin-top: 15px;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

  }
}