@use 'base';
@use 'base-mobile';

@media only screen and (min-width: 450px) {
  .info-section {
    height: 90%;
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;

    .photo-container {
      flex: 0 0 30%;
      margin: 1%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .text {
      flex: 0 0 60%;
      margin: 1%;
    }
  }
}

@media only screen and (max-width: 445px) {
  .photo-container {
    margin: 5px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .photo {
      width: 95%;
    }
  }

  .text {
    padding: 4px;
    line-height: 15px;
  }
}